*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table  tr td{
    border:1px solid black;
    background-color: seashell;
width:150px;
text-align: center;
padding: 20px;

    
}


th{
    border:1px solid black;  
    padding: 10px;
}
#sort{
    width: 50px;
    border-radius: 30px;
    
}